.title {
  color: white;
  background-color: grey;
  width: 500px;
}
.body {
  color: white;
  background-color: grey;
  width: 500px;
}
.author {
  color: grey;
}

.blog {
  color: purple;
}
.button {
  border-radius: 3px;
  background-color: grey;
  color: white;
}
.editBox {
}
.inputField {
}
.spacer {
  height: 15px;
  width: 500px;
  background-color: black;
  color: green;
}

.banner {
  border: 1px solid red;
}

.postbar {
  border: 1px solid blue;
}

.deletebutton {
  border: 1px solid green;
}

.blogtitle {
  border: 1px solid yellow;
}

.blogauthor {
  border: 1px solid purple;
}

.blogbody {
  border: 1px solid pink;
}

.submit {
  border: 1px solid turquoise;
}

.divider {
  border: 1px solid orange;
}

.img {
}
